# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE files
.vscode/
*.swp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

.buildozer/
buildozer.log

bin

# Python cache
*.pyc
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/