# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDE files
.vscode/
*.swp

# Logs
*.log
*_log.txt

# OS files
.DS_Store
Thumbs.db

# Buildozer build directory
.buildozer/
buildozer.log

# Kivy build directory
bin/

# Python cache
*.pyc
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
